.navbar-text > a {
    color: inherit;
    text-decoration: none;
}

body {
    padding-top: 70px;
}


.col-md-6 {
    padding-top: 100px;
}

.navbar-default{
    background-color: black;
}


body > .container >  .col-md-4{
    height: 300px;
    background-color: rgba(27, 158, 14, 0.59);
}

.container > .jumbotron {
    background-color: rgba(27, 158, 14, 0.59);
}
ul.nav.navbar-left.top-nav > li > h3 > b{
	color:#00c989;
}